# Ignore all files and folders by default
*

# Allow Git to search inside any directory recursively
!**/

# Track only specific file types across all folders
!*.png
!*.ino
!*.md
!*.h

# Do not ignore Git's own configuration and the license file
!.gitignore
!LICENSE*
